<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <connectionStrings>
    <add name="D365TR_Sandbox" connectionString="AuthType=Office365;Username=KULLANICIADI; Password=******;Url=https://ORGANIZASYONADI.crm4.dynamics.com"/>
  </connectionStrings>
</configuration>